.footer-10{
    background-color:  #e9ebf5;;
}
.common--icon i{   
    color:#06114f;
    font-size: 40px;
}

.btn--design{
    background-color: #06114f;
    color:white;
}
.btn--design:hover{
    background-color: #4a25be;
    color:white;
    transition: .5s;
}
.footer2--design{
    height: 70px;
    background-color:#06114f;
    width:100%;
}
